In [1]:
import pandas as pd

In [ ]:

# ! crear un dataframe a partir de un diccionario

datos= {
    "nombre": ["Argentina", "Brasil", "Chile"],
    "capital":["Bs As", "Brasilia","Santiago de Chile"],
    "sup":[124123,754457,735246]
}

In [3]:
paises = pd.DataFrame(datos)

paises

      nombre            capital     sup
0  Argentina              Bs As  124123
1     Brasil           Brasilia  754457
2      Chile  Santiago de Chile  735246

In [ ]:

# ! crear un dataframe a partir de una lista

df = pd.DataFrame([["messi", "ronaldo", ]])

#### Obtener los primeros y ultimos registros

In [7]:
print(paises.head(2))
print(paises.tail(1))

      nombre   capital     sup
0  Argentina     Bs As  124123
1     Brasil  Brasilia  754457
  nombre            capital     sup
2  Chile  Santiago de Chile  735246

#### Tambien se puede realizar mediante el propio lenguaje de PY

#### NOTA: buscara desde el primer valor hasta uno menos que el segundo que indiquemos

In [6]:
print(paises[0:2])

      nombre   capital     sup
0  Argentina     Bs As  124123
1     Brasil  Brasilia  754457

#### Filtrar series dentro del Data Frame, (se crea un nuevo df a partir de ciertas series especificas)

In [11]:
paises2 = pd.DataFrame(paises, columns=["nombre", "sup"])
paises2

      nombre     sup
0  Argentina  124123
1     Brasil  754457
2      Chile  735246

#### Utilizar indices personalizados

In [20]:
paises3 = pd.DataFrame(paises).set_index("nombre")

print(paises)

print(paises3)

      nombre            capital     sup
0  Argentina              Bs As  124123
1     Brasil           Brasilia  754457
2      Chile  Santiago de Chile  735246
                     capital     sup
nombre
Argentina              Bs As  124123
Brasil              Brasilia  754457
Chile      Santiago de Chile  735246

#### Seleccionar elementos dentro de un DF

In [22]:
paises3.loc["Argentina"]

capital     Bs As
sup        124123
Name: Argentina, dtype: object

#### Seleccionar info combinada dentro del DF

In [24]:
print(paises3.loc[["Argentina", "Brasil"],["sup"]])

              sup
nombre
Argentina  124123
Brasil     754457

#### Obtener series especificas, ambas formas son iguales

In [ ]:
paises3.sup

paises3["sup"]

nombre
Argentina    124123
Brasil       754457
Chile        735246
Name: sup, dtype: int64

#### Aplicar calculos a los filtros para conseguir DF de boleanos

In [28]:
paises3["sup"] > 740000

nombre
Argentina    False
Brasil        True
Chile        False
Name: sup, dtype: bool

#### Aplicar la funcion loc a lo anterior para obtener info mas especifica

In [29]:
paises3.loc[paises3["sup"] > 740000]

         capital     sup
nombre
Brasil  Brasilia  754457

#### Modificar datos dentro de DF

In [32]:
paises3.loc["Argentina", "capital"] = "Buenos Aires"

paises3

                     capital     sup
nombre
Argentina       Buenos Aires  124123
Brasil              Brasilia  754457
Chile      Santiago de Chile  735246

#### Buscar daatos mediante indices numericos, igual a loc, pero con valores numericos

In [42]:
print(paises3.iloc[1])
print("")
print(paises3.iloc[:,0])
print("")
print(paises3.iloc[0:2])

capital    Brasilia
sup          754457
Name: Brasil, dtype: object

nombre
Argentina         Buenos Aires
Brasil                Brasilia
Chile        Santiago de Chile
Name: capital, dtype: object

                capital     sup
nombre
Argentina  Buenos Aires  124123
Brasil         Brasilia  754457

#### Conseguir el nombre de las columnas y acceder a una en especifico

In [ ]:
paises3.columns

# ! columna en especifico
paises3.capital

# ! valores de la columna 
paises3.capital.values

# ! nombre de la columna 
paises3.capital.name

# ! indices de la columna 
paises3.capital.index

'capital'

#### Filtros de valores en el DF

In [ ]:
 
# ! valor minimo 
paises3.sup.min()
# ! valor maximo 
paises3.sup.max()
# ! valor media 
paises3.sup.mean()
# ! valor desviacion estandar 
paises3.sup.std()

np.int64(124123)

#### Agregar columnas al DF

In [51]:
paises3["poblacion"] = [123,321,456]

paises3

                     capital     sup  poblacion
nombre
Argentina       Buenos Aires  124123        123
Brasil              Brasilia  754457        321
Chile      Santiago de Chile  735246        456

#### Aplicar funciones complejas a los DF

In [54]:
def millones(x):
    return x*1000000

paises3.poblacion.apply(millones)

nombre
Argentina    123000000
Brasil       321000000
Chile        456000000
Name: poblacion, dtype: int64

#### Guardar archivos en formato .CSV
#### Guardar archivos en formato de excel (se requiere una dependencia adicional... pip install openpyxl)
#### Se debe indicar la ruta donde se guardara y el nombre del archivo

In [ ]:
paises3.to_csv("./paises.csv")
# paises3.to_excel("./paises.xlsx", sheet_name="paises", index_label="pais")

ModuleNotFoundError: No module named 'openpyxl'

In [59]:
csv = pd.read_csv("./paises.csv")

csv

      nombre            capital     sup  poblacion
0  Argentina       Buenos Aires  124123        123
1     Brasil           Brasilia  754457        321
2      Chile  Santiago de Chile  735246        456